<center>
<header>
  <h1>Think Tank Case</h1>
</header>
  <%= image_tag 'main.png', :size =>'160x180'%>
  Please Wait.... Now, Under Consturcrion...
</center>
<hr>
<div class="container">
  <div class="main-panel">
    <center>
    <h1>Proceed Dialy</h1>
    </center>
  </div>
  <div class="main-panel">
    <center>
    <h1>Thinks</h1>
    </center>
  </div>
</div>