// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  margin-top: 0;
  background-color: #111111;
  h1{
    font-size: 70px;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 20px;
  
  h2{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;

  }
}

.main-panel{
  h1{
    color: #FFFFFF;
    background-color: #000000;
  }

}

.article-title{
  font-size: 25px;
}

.think-list{
  display: grid;
  grid-template-columns: 0.15fr 1fr;
}

.think-content{
  border: solid 2px;
  border-radius: 5px;
  border-color: #cccccc;
  margin-top: auto;
  margin-bottom: auto;
}
