// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post{
    #post_content{
        width: 350px;
        height: 80px;
        border-radius: 5px;
    }

.button_expression{
    width:  60px;
    height: 60px;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
}
}

.post_list{
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  h1{
    color: #FFFFFF;
    background-color: #000000;
  }
}