// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post{
    #post_content{
        width: 400px;
        height: 70px;
        border-radius: 5px;
    }
}

.post_list{
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  h1{
    color: #FFFFFF;
    background-color: #000000;
  }
}

.post-container{
    display: grid;
    width:  430px;
    grid-template-rows: 1fr 1fr;
}
.submits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    p{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 15px;
        font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    }
}

.button_expression{
    width:  60px;
    height: 60px;
    margin-top: 2px;
}